.recipes-page {
    padding: 4vh 3vw;
    color: darkolivegreen;
}

.add-recipes-page .recipes-container {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.form * {
    margin-bottom: 2vh;
}

.ingredient-wrapper {
    display: flex;
    justify-content: space-between;
}

.ingredient-wrapper input {
    width: 100%;
    margin-right: 2vw;
}

.ingredient-btn-remove {
    width: 10%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 0.2vw;
    background-color: lightgray;
}

.ingredient-btn-add {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 0.2vw;
    background-color: lightgray;
}

.submit-btn {
    width: 100%;
    height: 3vh;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.2vw;
    background-color: darkgreen;
    color: white;
}

button:hover {
    cursor: pointer;
}


.success-message-wrapper {
    width: 50%;
    height: 5vh;
    border-radius: 0.2vw;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.success-message-wrapper > div {
    padding: 2vh 2vw;
}

.success-message-error {
    border: solid 1px red;
}

.success-message-success {
    border: solid 1px green;
}
