.recipes-page {
    padding: 4vh 3vw;
    color: darkolivegreen;
}

.recipes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.recipe {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 15vw;
    padding: 1vh 2vw;
    line-height: 3vh;
    background-color: darkseagreen;
    border-radius: 0.5vw;
    color: white;
    align-items: center;
    margin: 1vh 0;
}

.recipe-title {
    font-weight: bold;
    text-decoration: underline;
}
